.test-page {
  background-color: red;
}

/* If there is an image element within the p tag, set its content to be centered. */
.container .content .main p:has(img) {
  display: flex;
  justify-content: center;
}

.content-body {
  background: radial-gradient(
    transparent,
    var(--vp-nav-bg-color) 5px
  ) !important;
  background-size: 5px 5px !important;
  backdrop-filter: saturate(50%) blur(4px) !important;
}

/* https://github.com/lxgw/LxgwWenKai */

@font-face {
  font-family: "lxgw wenkai lite";
  src: url(./fonts/LXGWWenKai-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "lxgw wenkai lite";
  src: url(./fonts/LXGWWenKai-Light.ttf);
  font-weight: 300;
  font-style: oblique;
}

@font-face {
  font-family: "lxgw wenkai lite";
  src: url(./fonts/LXGWWenKai-Bold.ttf);
  font-weight: bold;
  font-style: normal;
}

body {
  font-family: "lxgw wenkai lite";
}

html {
  --sb-track-color: #f1f1f1;
  --sb-thumb-color: #a8a8a8;
  --sb-size: 6px;
}

.dark {
  --sb-track-color: #424242;
  --sb-thumb-color: #7b7b7b;
}

::-webkit-scrollbar {
  width: var(--sb-size);
  height: var(--sb-size);
}

::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: var(--sb-size);
}

::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: var(--sb-size);
}

::-webkit-scrollbar-corner {
  background: var(--sb-track-color);
}

@supports not selector(::-webkit-scrollbar) {
  scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
}
